1. Introduction
2. Numeric Datatypes
3. iput() and print()
4. control statement --> if,esle,elif
5. loops --> while,for

### strings:
1. " " or ' '(characters) -->'a'
2. immutble --> we cannot any changes
3. collection of characters enclosed by quotation marks -->Iterable object

In [2]:
s1 = input("enter a string")
s2 = 'Good Afternoon'
print(type(s1),type(s2))

enter a stringhello
<class 'str'> <class 'str'>

In [6]:
#operators : +,*(repitition),[](slice),[start:stop:step](slice range)
print(s1 + s2)#concatenantion
print(s1 * 3)#repitition 
print(s1[4])#slicing
print(s1[-1])#slicing
print(s1[2:])#start=0,stop=length of string,step=1

helloGood Afternoon
hellohellohello
o
o
llo

In [7]:
print(s1[0:5])
print(s1[:])

hello
hello

In [8]:
#print Alternate characters od string
print(s1[::2])

hlo

In [10]:
#Accept a string from the user and check werther it is 
#palindrome or not
s3 = input("enter a string")
if s3 == s3[::-1]:
    print("the given string is palindrome")
else:
    print("the given string iis not a palindrome")

enter a stringmadam
the given string is palindrome

In [11]:
n = int(input("enter a number"))
if str(n) == str(n)[::-1]:
    print("the given number is palindrome")
else:
    print("the given number is not palindrome")

enter a number121
the given number is palindrome

In [14]:
s4 = "python"
print("on" in s4) 
print("xyz" in s4)
print("on" not in s4)#flase
print("xyz" not in s4)#true

True
False
False
True

### Built-in Functions:
1. len()
2. max()
3. min()
4. str() --> converting any datatype to string

In [17]:
s = "hello"
s1 = "abc123"
print(len(s))
print(max(s))
print(min(s))
print(max(s1))
print(min(s1))

5
o
e
c
1

In [18]:
ord('a')

97

In [19]:
chr(97)

'a'

### Built-in Methods:
1. capitalize()
2. isalpha()
3. isdigit()
4. isalnum()
5. isupper()
6. islower()
7. upper()
8. lower()
9. swapcase()

In [21]:
s = "hello"
print(len(s))
print(s.capitalize())
print(s)

5
Hello
hello

In [27]:
s1 = "hello"
s2 = "abc123"
s3 = "123"
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())
print(s3.isalpha())
print(s3.isdigit())
print(s3.isalnum())

True
False
True
False
False
True
False
True
True

In [30]:
s1 = "python"
s2 = "PYTHON"
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())

False
True
True
False

In [34]:
print(s1.upper())
print(s1.lower())
print(s1.swapcase())

PYTHON
python
PYTHON

In [35]:
s = "PYthON"
print(s.swapcase())

pyTHon

In [36]:
s = "abc abc abc"
s.count("abc")

3

In [38]:
#split()
print(s.split())
s1 = "a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [40]:
#replace -->
s = "abc"#azc
s.replace('b','z')
print(s)

abc

In [44]:
# accept a number(n) from the user and remove nth position 
#character from the string
#n = 3
#s = bacabc
# output : ababc
n = int(input("enter position: "))
s = input("enter a string: ")
print(s.replace(s[n-1],"",1))

enter position: 3
enter a string: abcabc
ababc

### for loop:
1. for loop with range() function
2. for loop with iterable object

```for variable_name in range(start,stop,step):
    statements```

In [47]:
#print 1-n numbers on the screen
n = 10
for i in range(1,n+1):
    print(i,end=" ")
print()
i=1
while i<=n:
    print(i,end=" ")
    i +=1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

```for variable in iterable obj:
   statement```

In [52]:
s = "python"
for i in s:
    print(i)
    
#using while loop print all the characters of your string vertical
i = 0
while i <len(s):
    print(s[i])
    i += 1
    
#using for loop but you should not use iterable objects
for j in range(0,len(s)):
    print(s[j])

p
y
t
h
o
n
p
y
t
h
o
n
p
y
t
h
o
n

1. Accept a string from the user and count no.of vowels,consonants and special characters
2. count the no.of pairs of a in the givens string
    string --> "abbaaccbbaaa"
    output --> 2
3. string --> "((((()()()))))()"
   output --> 8